#pf {
    top: 80px;
    margin-bottom: 75px;
}

th, td {
    text-align: center;
}

th {
    padding-right: 0px;
}

td:nth-child(1), td:nth-child(2){
    text-align: start;
}

td {
    padding-left: 10px;
    padding-right: 10px;
}

#pf ul {
    max-width: 65rem;
    padding: revert;
    margin: revert;
    margin-bottom: 80px;
}

@media screen and (max-width: 480px) {
    #pf {
        width: 100%;
        margin: 0 auto;
    }

    #pf table {
        display: inline-block;
    }

    #pf .head {
        /* display: inline-block; */
        width: 100%;
        font-size: 24px;
    }

    #pf table thead {
        display: inline-block;
        font-size: 12px;
        line-height: normal;
    }

    #pf table thead tr th {
        padding-right: unset;
    }

    #pf table thead tr th:last-child {
        padding-right: 10px;
    }

    #pf ul {
        padding-left: 10px;
        padding-right: 10px;
    }

    #pf ul li div div {
        
        font-size: 15px;
    }

    #pf ul li div p {
        
        font-size: 10px;
    }
}
