.pfl {
    margin-left: 256px;
    min-height: 800px;
}

.profile-wrapper {
    margin: 0 auto;
    background: whitesmoke;
    height: 100%;
}

.profile-main {
    display: flex;
    width: 900px;
    margin: 0 auto;
    /* margin-top: 70px; */
    justify-content: center;
    align-items: center;
    height: 500px;
}

.profile-img {
    width: 430px;
    height: 270px;
    border-radius: 10px;
    display: flex;
    contain: content;
}

.profile-details {
    width: 400px;
    height: 240px;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px;
    justify-content: space-between;
}

.details h1 {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

.details {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    flex-direction: column;
}

.details div p {
    font-size: 20px;
    font-weight: 520;
}

.profile-url {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 30px;
}

.profile-url p {
    font-weight: 600;
}

.profile-btns {
    display: flex;
    justify-content: space-evenly;
}


/* MOBILE RESPONSIVE SECTION */

@media screen and (max-width: 480px) {
    .pfl {
        margin: unset;
        width: 100%;
    }

    .profile-wrapper {
        position: relative;
        width: 100%;
        min-height: 800px;
    }

    .profile-main {
        width: 95%;
        flex-direction: column;
        position: relative;
        top: 30px;

    }

    .profile-img {
        width: auto;
    }

    .profile-details {
        width: 93%;
    }
}