.about-wrapper {
    margin-top: 70px;
    margin-bottom: 70px;
}

.about-head {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-wrapper nav div {
    justify-content: end;
    width: 60%;
}

.about-main {
    flex-direction: column;
    display: flex;
    gap: 30px;
    margin: 20px auto;
}


.about-img {
    width: 40%;
}

.about {
    width: 52%;
}

.about h1, .about h2 {
    text-align: center;
}

.about p {
    text-align: justify;
}

.about-contain {
    display: flex;
    gap: 30px;
    align-items: center;
}

/* MOBILE RESPONSIVE SECTION */

@media screen and (max-width: 480px) {

    .about-wrapper {
        width: 94%;
        margin: 70px auto;
    }

    .about-wrapper nav div {
        width: unset;
    }

    .about-head p {
        text-align: center;
        /* font-size: 21px; */
    }
    
    .about-contain {
        flex-direction: column;
    }

    .about-img, .about {
        width: unset;
    }

    .about p a span {
        font-size: unset;
    }

    .about .text-4xl {
        font-size: 2rem;
    }

    .about h2, .about p {
        position: relative;
    }

}